body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: slategray;
}

body main {
    display: flex;
}

body main .side_banner {
    background-color: slategray;
    width: 12%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body .side_banner li {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

body .side_banner li:hover {
    background-color: mediumaquamarine;
    cursor: pointer;
}

body .common {
    width: 100%;
    min-height: 86.8vh;
    background-color: white;
}
