footer {
    width: 100%;
    margin-top: auto;
    display: flex;
    padding: 1rem 0;
    background-color: white;
    color: black;
}

footer p {
    margin-left: 45%;
}

.GitHub {
    margin-left: auto;
}

.GitHub a {
    text-decoration: underline;
}

.GitHub a:hover {
    color: rgb(15, 30, 78);
}
