footer {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: rgb(156, 192, 223);
    border-top: 1.5px solid aquamarine;
    color: black;
}

footer p:first-child {
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 2px solid black;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    color: rgb(15, 30, 78);
}
