body {
    text-align: center;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid mediumaquamarine;
    border-radius: 5px;
}

input {
    margin: 5px;
    padding: 5px;
    border: 1px solid mediumaquamarine;
    border-radius: 5px;
}

button {
    background-color: mediumaquamarine;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

a {
    display: block;
    margin-top: 10px;
}

.flash {
    color: tomato;
}
