<!DOCTYPE html>
<html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holbie Friends</title></html>
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/body.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/friends.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
</head>

<body>
    <header>
        <div class="homepage">
            <a href="./index.html">
                <div class="logo">
                    <img src="../img/holbielogo.png" alt="holbielogo">
                </div>
                <h1> Holbie Chess </h1>
            </a>
        </div>
        <div class="user">
            <div class="searchbar"></div>
            <div class="usericon">
              <!-- if not logged in -->
              <a href={{ url_for('register') }}><img src='../img/usericon.png' alt="usericon"></a>
              <!-- if logged in -->
              <!-- Display profile pic & redirect to user page on click  -->
            </div>
        </div>
    </header>

    <main>
        <!-- Side banner -->
        <ul class="side_banner">
            <a href="./play.html"><li>Play</li></a>
            <a href="./achievements.html"><li>Achievements</li></a>
            <li>Friends</li>
            <a href="./index.html#news"><li>News</li></a>
            <a href="./index.html#about"><li>About us</li></a>
        </ul>

        <div class="common">
            <ul>
                <li><div>Friend1</div></li>
                <li><div>Friend2</div></li>
                <li><div>Friend3</div></li>
                <li><div>Friend4</div></li>
                <li><div>Friend5</div></li>
                <li><div>Friend6</div></li>
                <li><div>Friend7</div></li>
                <li><div>Friend8</div></li>
                <li><div>Friend9</div></li>
                <li><div>Friend10</div></li>
            </ul>
        </div>
    </main>

    <footer>
        <p> Made by Teheremiti & Tristan </p>
    </footer>
</body>
</html>
