<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Holbie Chess</title>
  <link rel="stylesheet"
    href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
    integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
  <link rel="stylesheet" type="text/css" href="../static/styles/body.css">
  <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
  <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
  <script type="module" src="../static/scripts/index.js"></script>
</head>

<body>
  <!-- Header -->
  <header>
    <div class="homepage">
      <a href="#">
        <div class="logo">
          <img src="../img/holbielogo.png" alt="holbielogo">
        </div>
        <h1> Holbie Chess </h1>
      </a>
    </div>
    <div class="user">
      <div class="searchbar"></div>
      <div class="usericon">
        <!-- if not logged in -->
        <a href={{ url_for('register') }}><img src='../img/usericon.png' alt="usericon"></a>
        <!-- if logged in -->
        <!-- Display profile pic & redirect to user page on click  -->
      </div>
    </div>
  </header>

  <main>

    <!-- Side banner -->
    <ul class="side_banner">
      <a href="./play.html"><li>Play</li></a>
      <a href="./achievements.html"><li>Achievements</li></a>
      <a href="./friends.html"><li>Friends</li></a>
      <a href="#news"><li>News</li></a>
      <a href="#about"><li>About us</li></a>
    </ul>

    <!-- Main page -->
    <div class="common">

      <section class="game">
        <div id="board"></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
          integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
          crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
          integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
          crossorigin="anonymous"></script>

        <div class="play">
          <h2> Let's play ! </h2>
          <span class="gamemode">
            <button type="button" class="local"> 1v1 </button>
            <button type="button" class="computer"> Computer </button> 
          </span>
          <!--<div class="controls">
            <button type="button" class="previous"> < </button>
            <button type="button" class="next"> > </button>
          </div>-->
        </div>
      </section>

      <section id="news" class="articles">
        <h2> Follow the latest news </h2>
        <ul>
          <li><article>Article1</article></li>
          <li><article>Article2</article></li>
          <li><article>Article3</article></li>
          <li><article>Article4</article></li>
          <li><article>Article5</article></li>
          <li><article>Article6</article></li>
          <li><article>Article7</article></li>
        </ul>
      </section>

      <section id="about" class="about">
        <h2> About us </h2>
      </section>
    </div>
  </main>

  <footer>
    <p> Made by Teheremiti & Tristan </p>
  </footer>
</body>
</html>
