<!DOCTYPE html>
<html>
<head>
    <title>Holbie sign in</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/register.css">
    <script type="module" src="../static/scripts/register.js"></script>
</head>
<body>
    <h1> Holbie Registration </h1>
    <form method="POST">
        <input type="text" name="firstName" placeholder="First name" required>
        <input type="text" name="lastName" placeholder="Last name" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="text" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" href="{{ url_for('login') }}">Sign up</button>
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
