body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(15, 30, 78);
}

body main {
    display: flex;
    color: white;
}

body .side_banner {
    min-height: 100vh;
    min-width: 120px;
    width: 150px;
    background-color: rgb(6, 19, 60);
}

body .side_banner ul {
    position: sticky;
    top: 8rem;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

body .side_banner li {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.2s;
}

body .side_banner li:hover {
    background-color: aquamarine;
    color: rgb(6, 19, 60);
    cursor: pointer;
}

body .side_banner li:before {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 0;
    height: 95%;
    width: 80%;
    border-bottom: 1px solid aquamarine;
}

body .common {
    width: 100%;
    min-height: 100vh;
}

.common > p {
    color: rgb(176, 203, 227);
    font-size: 10px;
}

.common > p a {
    text-decoration: underline;
}

.common > p a:hover {
    color: rgb(49, 141, 194);
}
